body {
  background-color: #000000;
  margin: 0vw;
}

a.arrow {
  background-color: #530F6B;
}

li a, .dropbtn {
  display: inline-block;
  color: #E5F056;
  text-align: center;
  padding: 0.6vh 2vw;
  text-decoration: none;
  cursor: pointer;
}

input[type=text], ::placeholder {
  width:60vw;
  background-color: #671385;
  border: 0;
  color: #EDB579;
  padding: 0.9vh 1vw;
  outline: none;
}

a#bookmarks {
  background-color: #CBD636;
  color: #5C5315;
  cursor: default;
}

h1, h2, h3 {
  color: #F6921D;
  margin:2vw;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #530F6B;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #420C55;
}

.dropdown-content a {
  color: #F9B96F;
  padding: 0.6vh 2vw;
  text-decoration: none;
  display: block;
  text-align: left;
}

ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  align: center;
  display:table;
  margin: 0 auto;
}

li {
  float: left;
}

li.dropdown {
  display: inline-block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

::placeholder {
  padding: 0;
}

iframe {
  height: 96vh;
  width: 100vw;
  background-color: #fff;
}
