body {
  background-color: #a0ccff;
  margin: 0vw;
}

a.go {
  background-color: #38A466;
}

li a, .dropbtn {
  display: inline-block;
  color: #cef2f2;
  text-align: center;
  padding: 0.6vh 2vw;
  text-decoration: none;
  cursor: pointer;
}

input[type=text], ::placeholder {
  width:70vw;
  background-color: #23568f;
  border: 0;
  color: #f8e4ff;
  padding: 0.9vh 1vw;
  outline: none;
}

a#bookmarks {
  background-color: #56acba;
  color: #fffadc;
}

h1, h2, h3 {
  color: #0d193b;
  margin:2vw;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #95C3CD;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #56B780;
}

.dropdown-content a {
  color: #fffadc;
  padding: 0.6vh 2vw;
  text-decoration: none;
  display: block;
  text-align: left;
}

ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  align: center;
  display:table;
  margin: 0 auto;
}

li {
  float: left;
}

.dropdown-content a:hover {
  background-color: #80b4bf;
}

.dropdown:hover .dropdown-content {
  display: block;
}

::placeholder {
  padding: 0;
}

iframe {
  height: 96vh;
  width: 100vw;
  background-color: #fff;
}
